# Unrealircd logs
/logs/unrealircd/ircd.log
# Unrealircd pid files
/data/unrealircd/unrealircd.pid
/data/unrealircd/unrealircd.pid.bak
# Unrealircd databases
/data/unrealircd/ircd.tune
/data/unrealircd/channel.db
/data/unrealircd/tkl.db
/data/unrealircd/reputation.db


# Anope logs
/logs/anope/services.log.*
# Anope pid files
/data/anope/services.pid
# Anope databases and backups
/data/anope/anope.db
/data/anope/anope.sqlite
/data/anope/backups/anope.db-*


# Pylink logs
/logs/pylink/pylink-*.log
